<!DOCTYPE html>
<html class="h-full antialiased">
  <%= render "shared/head" %>

  <body class="bg-blue-800 text-blue-100">

    <header>
      <%= render "shared/flash_notice" %>
      <%= render "shared/navbar" %>
    </header>

    <main class="flex-grow">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
